/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    min-width: 1440px;
}

.button_primary{
    background-color: var(--cl_btn-primary);
    padding: 0.5rem 1rem;
    text-align: center;
    vertical-align: middle;

    a{
        text-decoration: none;
        color: var(--cl_txt-secondary);
    }
}

.button_secondary{
    background-color: var(--cl_btn-secondary);
    padding: 0.5rem 1rem;
    text-align: center;

    a{
        text-decoration: none;
        color: var(--cl_txt-tertiary-);
    }
}

.button_quaternary{
    background-color: white;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    text-align: center;

    a{
        text-decoration: none;
        color: var(--cl_txt-primary);
    }
}

.container{
    width: 60%;
    margin: auto;
}

.row{
    display: flex;
}

.row_fix{
    margin: 0 -0.5rem;
}

.column_fix{
    padding: 0 0.5rem;
    gap: 1rem;
}

.col-4{
    width: calc((100%/12)*4);
}

.w-30{
    width: 30%;
}

.w-70{
    width: 70%;
}

.w-35{
    width: 35%;
}

.w-65{
    width: 65%;
}

.ptop-4{
    padding-top: 4rem;
}

.pbottom-10{
    padding-bottom: 10rem;
}

.py-2{
    padding: 2rem 0;
}

.py-10{
    padding: 10rem 0;
}

.px-1{
    padding: 0 1rem;
}

.pr-025{
    padding-right: 0.25rem;
}

.pr-1{
    padding-right: 2rem;
}

img{
    max-width: 100%;
}

h1{
    font-size: 4rem;
    font-weight: bolder;
    padding-bottom: 1.5rem;
}

h2{
    font-size: 2rem;
    font-weight: bolder;
    padding-bottom: 1.5rem;
}

h3{
    font-size: 1.75rem;
    font-weight: bolder;
}

h4{
    font-size: 1.25rem;
    font-weight: bolder;
}

p, span{
    font-size: 0.9rem;
    font-weight: light;
}

.flex_c{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex_end{
    display: flex;
    justify-content: flex-end;
}

.border{
    border: 1px solid rgb(180, 180, 180);
}

.border_bottom{
    border-bottom: 1px solid rgb(180, 180, 180);
}
/* assets */
:root{
    --bg-primary: #FFFFFF;
    --bg-secondary: #B4D0E7;
    --bg-tertiary: #000000;
    --cl_txt-primary: #000000;
    --cl_txt-secondary: #FFFFFF;
    --cl_txt-tertiary: #61082B;
    --bg_prtn-lonelyplanet: #0D2481;
    --bg_prtn-hearst: #B4D0E7;
    --bg_prtn-clearchannel: #FFD830;
    --bg_prtn-worldbicycle: #D5001F;
    --bg_prtn-topps: #FF1C1C;
    --bg_prtn-ASU: #61082B;
    --bg_prtn-UFflorida: #0093CE;
    --bg_prtn-Designit: #A2D39B;
    --bg_prtn-Designit_lg: #F5F5F5;
    --cl_btn-secondary: #FFFFFF;
    --cl_btn-primary: #0061FF;
    --cl-icon: #000000;
}

/* #endregion common */

/* #region header */
#app_header{
    max-width:100%;
    background-color: var(--bg-primary);

    .row{
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 0;
        margin-bottom: 0.5rem;
    }
}

#left_menu,#right_menu{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 50%;
    
    nav ul{
        display: flex;
        list-style: none;

        li{
            padding: 0.5rem 0;
        }

        li>a{
            text-decoration: none;
            color: var(--cl_txt-primary);
            padding: 0 0.5rem;
        }
    }
}

#left_menu{
    justify-content: flex-start;
    padding-left: 1rem;

    #logo{
        margin-right: 1rem;
    }
}

#right_menu{
    justify-content: flex-end;
    padding-right: 1rem;

    .start{
        margin-left: 1rem;
    }

}

/* hover nav */
nav li:hover{
    border-bottom: 1px solid #00000081;
}


/* #endregion header */

/* #region main */

    /* #region hero */
        #app_main>.hero{
            padding-top: 2rem;
            background-color: var(--bg-secondary);
        }

        .container_hero{
            width: 70%;
            margin: auto;
        }

        .my-4{
            margin-bottom: -4.5rem;
        }

        .icon{
            position: relative;
            bottom: -4.5rem;
            color: var(--cl-icon);
            font-size: 2rem;
            font-weight: bolder;
        }
    /* #endregion hero */

    /* #region plans */
        .radio{
            display: flex;
            gap: 2rem;
            justify-content: flex-start;
            align-items: center;
            padding: 1.5rem 0 2rem 0;
        }

        .plans .row{
            gap: 1rem;
        }

        .plan_name{
            text-align: center;
            padding: 1rem;

            i{
                padding-right: 0.5rem ;
            }
        }

        .information{
            h3{
                padding: 2rem 0 0.5rem 0;
            }

            .price_fee{
                font-weight: bold;
                padding: 0 0 0.5rem 0;
            }

            .period_fee{
                font-size: 0.8rem;
                font-weight: 200;
                color: gray;
                padding-bottom: 3rem;
            }
            .users, .space, .function{
                padding: 0.5rem 0;
                display: flex;
                gap: 0.25rem
            }

            .button_primary{
                margin-top: 3rem;
                margin-bottom: 1.5rem;
            }

            .my-05{
                margin-top: 4.1rem;
            }

            h4{
                padding: 5rem 0 1rem 0 ;
            }

            .border_bottom_shrt{
                padding-bottom: 2.5rem;
                border-bottom: 1px solid lightgray;
            }
        }

        .list{
            padding-bottom: 3rem;

            ul{
                list-style: none;
                margin-left: 1.5rem;
            }

            li{
                padding-bottom: .5rem;
                i{
                    font-size: 1rem;
                    font-weight: bolder;
                    padding-right: 0.5rem;
                    margin-left: -1.5rem;
                    color: var(--cl_btn-primary);
                }
            }

        }


        .personal_plan{
            margin-top: 3rem;

            .row{
                padding: 1.5rem 1rem;

                .column{
                    h3{
                        padding-bottom: 1rem;
                    }
                    h4{
                        padding-bottom: 3rem;
                    }
                }
                    
            }
        }
    /* #endregion plans */

/* #endregion main*/